<a href="https://colab.research.google.com/github/sravanthi200719/HDS5210_InClass/blob/master/week04_assignment_2_ipynb_sravanthi_tyalaplly_sri_sai_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 Assignment

See: _McKinney 3.1_ and [Python Documentation](https://docs.python.org/3/tutorial/datastructures.html) section 5 on data structures.

Modules 13 through 15 have all been about different built-in data types that can be used to create larger and more complex data structures.  We learned about tuples, lists, dictionaries, and how to access and process that data in new ways.

**At the begining of the semester, all of the workshop programming exercises will be structured a specific way to make it easier to verify for yourself that you're on the right track as well as easier for me to do a first pass on automated grading.  The structure of each question will require you to write a function using Python code. Don't worry that we haven't talked about functions yet. Just edit the code between** `### BEGIN SOLUTION` and `### END SOLUTION` **as shown in the example below.**

**WHAT I PROVIDE:**
```
def some_function(parameter1, parameter2):

   ### BEGIN SOLUTION
   x = -1
   ### END SOLUTION
   
   return x
```

**WHAT YOU SHOULD DO:** Just change the parameter names (if you feel you need to) and the calculations between `### BEGIN SOLUTION` and `### END SOLUTION`.  This is just a made up example.
```
def some_function(a, b):

   ### BEGIN SOLUTION
   temp = a + b
   x = temp / a * b
   ### END SOLUTION
   
   return x
```

---
---

**Below each programming exercise are some tests (`assertions`) that verify your code is working correctly.  If any assertions fail, you know that something isnt' right with your code, but having all assertions pass doesn't necessarily mean your code is perfect, yet. You should also create your own tests to make sure your code is correct.**

**For now, please don't change any function names**

### 15.1 Create a sorted list of names

Take the list of names below (some are first and last, others are first, middle, and last) and produce a final list of full names.

```
sort_names([
  ['Adam', 'Doyle'],
  ['Kermit','the','Frog'],
  ['Donald','Duck']])

['Adam Doyle', 'Donald Duck', 'Kermit the Frog']
```

In [1]:
def name_sorter(name_list):
    # Combine first, middle (if present), and last names into full names
    full_names = [' '.join(name) for name in name_list]

    # Sort the names alphabetically based on the first name
    full_names.sort()

    return full_names

# Test cases
names = [['Adam', 'Doyle'],
         ['Kermit', 'the', 'Frog'],
         ['Donald', 'Duck']]

assert name_sorter(names) == ['Adam Doyle', 'Donald Duck', 'Kermit the Frog']

In [2]:
def name_sorter(name_list):
    # Combine first, middle (if present), and last names into full names
    full_names = [' '.join(name) for name in name_list]

    # Sort the names alphabetically based on the first name
    # The lambda function splits each full name into words (name parts) and sorts based on the first part (first name)
    full_names.sort(key=lambda x: x.split()[0])

    return full_names

In [3]:
names = [['Adam', 'Doyle'],
         ['Kermit', 'the', 'Frog'],
         ['Donald', 'Duck']]
sorted_names = name_sorter(names)
print(sorted_names)
assert name_sorter(names) == ['Adam Doyle', 'Donald Duck', 'Kermit the Frog']

['Adam Doyle', 'Donald Duck', 'Kermit the Frog']

In [4]:
#MY TESTCASE-1
names = [['sravanthi', 'tyalapally'],
         ['sri', 'sai', 'sravanthi'],
         ['saint', 'louis']]
sorted_names = name_sorter(names)
print(sorted_names)

assert name_sorter(names) == ['saint louis','sravanthi tyalapally','sri sai sravanthi']

['saint louis', 'sravanthi tyalapally', 'sri sai sravanthi']

In [5]:
names_test_case = [
    ['kumar', 'rajan'],
    ['anil', 'krishna', 'ravi'],
    ['padma', 'sri', 'lakshmi'],
    ['venkat', 'subramanian'],
    ['swathi', 'chandra', 'priya']
]
sorted_names = name_sorter(names_test_case)
print(sorted_names)

assert name_sorter(names_test_case) == ['anil krishna ravi', 'kumar rajan', 'padma sri lakshmi', 'swathi chandra priya', 'venkat subramanian']

['anil krishna ravi', 'kumar rajan', 'padma sri lakshmi', 'swathi chandra priya', 'venkat subramanian']

**Tip:** If you have a list of lists and want to sort it, Python can do that. It will simply sort using the first item in each of the lists inside your list.

In [6]:
names = [['Adam', 'Doyle'],
  ['Kermit','Frog'],
  ['Donald','Duck']]

In [7]:
def name_sorter(name_list):
    # Do something
    full_names = "..."
    return full_names

In [8]:
def name_sorter(name_list):
    """
    Sorts a list of names (each name is a list of parts) alphabetically
    by the first element in each sublist (first name).

    Parameters:
    name_list (list of lists): Each inner list contains parts of a name.

    Returns:
    list: A sorted list of names based on the first name.
    """

    # Sort the list of names based on the first element (first name) of each sublist
    name_list.sort()

    # Combine the first and last names into full names using ' '.join()
    full_names = [' '.join(name) for name in name_list]

    return full_names

In [9]:
# Example usage
names = [['Adam', 'Doyle'],
         ['Kermit', 'Frog'],
         ['Donald', 'Duck']]

sorted_names = name_sorter(names)
print(sorted_names)

assert name_sorter(names) == ["Adam Doyle", "Donald Duck", "Kermit Frog"]

['Adam Doyle', 'Donald Duck', 'Kermit Frog']

In [10]:
names = [['sravanthi', 'tyalaplly'],
         ['pranaya','bhemishetti'],
         ['shaik','sohail'],
         ['shaik','sumaya']]
sorted_names = name_sorter(names)
print(sorted_names)

['pranaya bhemishetti', 'shaik sohail', 'shaik sumaya', 'sravanthi tyalaplly']

### 15.2 Convert a dictionary to a list

In this exercise, we're going to take a dictionary that has families and their names, and convert that into a list of names.  The dictionary is structured such that the key is the family name, and the value for that key is a list of first names.

```
{
  'Doyle': ['Adam', 'Oliver', 'Xavier'],
  'Duck': ['Donald', 'Daisy', 'Howard'],
  'Mouse': ['Mickey', 'Minnie', 'Mighty']
}

[['Doyle', 'Adam'],
 ['Doyle', 'Oliver'],
 ['Doyle', 'Xavier'],
 ['Duck', 'Donald'],
 ['Duck', 'Daisy'],
 ...
```

In [11]:
def dict_to_list(families):
    # Do something
    output = []
    return output

In [12]:
def dict_to_list(family_dict):
    # Create a list of lists by iterating through the dictionary
    result = [[last_name, first_name] for last_name, first_names in family_dict.items() for first_name in first_names]
    return result

In [13]:
families = {
  'Doyle': ['Adam', 'Oliver', 'Xavier'],
  'Duck': ['Donald', 'Daisy', 'Howard'],
  'Mouse': ['Mickey', 'Minnie', 'Mighty']
}

dict_to_list({'Duck': ['Hewey','Dewey','Louie'],
              'Mouse': ['Mickey','Minney']})

[['Duck', 'Hewey'],
 ['Duck', 'Dewey'],
 ['Duck', 'Louie'],
 ['Mouse', 'Mickey'],
 ['Mouse', 'Minney']]

In [14]:
# Test dictionary
family_dict = {
    'Doyle': ['Adam', 'Oliver', 'Xavier'],
    'Duck': ['Donald', 'Daisy', 'Howard'],
    'Mouse': ['Mickey', 'Minnie', 'Mighty']
}
sorted_names = dict_to_list(family_dict)
for family in sorted_names:
    print(family)

['Doyle', 'Adam']
['Doyle', 'Oliver']
['Doyle', 'Xavier']
['Duck', 'Donald']
['Duck', 'Daisy']
['Duck', 'Howard']
['Mouse', 'Mickey']
['Mouse', 'Minnie']
['Mouse', 'Mighty']

In [15]:

assert dict_to_list(family_dict) == [['Doyle', 'Adam'],
                                     ['Doyle', 'Oliver'],
                                     ['Doyle', 'Xavier'],
                                     ['Duck', 'Donald'],
                                     ['Duck', 'Daisy'],
                                     ['Duck', 'Howard'],
                                     ['Mouse', 'Mickey'],
                                     ['Mouse', 'Minnie'],
                                     ['Mouse', 'Mighty']]

In [16]:
# MY TESTCASE-1
family_dict = {
    'TYALAPALLY': ['Sravanthi', 'spandhana', 'vaishnavi','vinay'],
    'RUMANDLA': ['Deekshitha', 'chicki', 'govind'],
    'SHAIK': ['Sohail', 'sumaya', 'sajida']
}
sorted_names = dict_to_list(family_dict)
for family in sorted_names:
    print(family)

['TYALAPALLY', 'Sravanthi']
['TYALAPALLY', 'spandhana']
['TYALAPALLY', 'vaishnavi']
['TYALAPALLY', 'vinay']
['RUMANDLA', 'Deekshitha']
['RUMANDLA', 'chicki']
['RUMANDLA', 'govind']
['SHAIK', 'Sohail']
['SHAIK', 'sumaya']
['SHAIK', 'sajida']

In [17]:
#MY TESTCASE-2
family_dict_test_case = {
    'KAPOOR': ['Raj', 'Anil', 'Pooja', 'Sita'],
    'MURTHY': ['Srinivas', 'Anjali', 'Ravi'],
    'VERMA': ['Amit', 'Sunita', 'Rajesh']
}
sorted_names = dict_to_list(family_dict_test_case)
for family in sorted_names:
    print(family)

['KAPOOR', 'Raj']
['KAPOOR', 'Anil']
['KAPOOR', 'Pooja']
['KAPOOR', 'Sita']
['MURTHY', 'Srinivas']
['MURTHY', 'Anjali']
['MURTHY', 'Ravi']
['VERMA', 'Amit']
['VERMA', 'Sunita']
['VERMA', 'Rajesh']

### 20.3 Convert a list to a dictionary

Take the list of lists below and convert it into a dictionary where the entries in the dictionary are keyed off of whatever values are in column 0, and the dictionary values are the list of all the values that appear with that key from the input list.

In [18]:
def list_to_dict():

    names = [['Doyle', 'Adam'],
 ['Doyle', 'Oliver'],
 ['Doyle', 'Xavier'],
 ['Duck', 'Donald'],
 ['Duck', 'Daisy'],
 ['Mouse', 'Mickey'],
 ['Mouse', 'Minnie'],
 ['Mouse', 'Mighty']
 ]

    # To help you, I've provided a blank dictionary named `families`.
    families = {}

    # Your code should loop through `names` and do something to build
    # up `families` to be the output dictionary shown in the test
    # cells below.

    # Put your solution here

    return families

In [19]:
def list_to_dict():
    # Input list of lists
    names = [['Doyle', 'Adam'],
             ['Doyle', 'Oliver'],
             ['Doyle', 'Xavier'],
             ['Duck', 'Donald'],
             ['Duck', 'Daisy'],
             ['Mouse', 'Mickey'],
             ['Mouse', 'Minnie'],
             ['Mouse', 'Mighty']]

    # Create an empty dictionary
    families = {}

    # Loop through each pair in the names list
    for last_name, first_name in names:
        # If the last name (key) is already in the dictionary, append the first name
        if last_name in families:
            families[last_name].append(first_name)
        # If the last name (key) is not in the dictionary,

In [20]:
def list_to_dict():
    # Input list of lists
    names = [['Doyle', 'Adam'],
             ['Doyle', 'Oliver'],
             ['Doyle', 'Xavier'],
             ['Duck', 'Donald'],
             ['Duck', 'Daisy'],
             ['Mouse', 'Mickey'],
             ['Mouse', 'Minnie'],
             ['Mouse', 'Mighty']]

    # Create an empty dictionary
    families = {}

    # Loop through each pair in the names list
    for last_name, first_name in names:
        # If the last name (key) is already in the dictionary, append the first name
        if last_name in families:
            families[last_name].append(first_name)
        # If the last name (key) is not in the dictionary, create a new entry with the first name in a list
        else:
            families[last_name] = [first_name]

    return families

In [21]:
result = list_to_dict()
print(result)

{'Doyle': ['Adam', 'Oliver', 'Xavier'], 'Duck': ['Donald', 'Daisy'], 'Mouse': ['Mickey', 'Minnie', 'Mighty']}

In [22]:
list_to_dict()

{'Doyle': ['Adam', 'Oliver', 'Xavier'],
 'Duck': ['Donald', 'Daisy'],
 'Mouse': ['Mickey', 'Minnie', 'Mighty']}

In [23]:
answer = {
 'Doyle':    ['Adam', 'Oliver', 'Xavier'],
 'Duck':    ['Donald', 'Daisy'],
 'Mouse':   ['Mickey', 'Minnie', 'Mighty']
}

assert (list_to_dict() == answer)

In [24]:
#MY TESTCASE
def list_to_dict():
    # Input list of lists
    names = [['Clark', 'Lois'],
         ['Clark', 'Lois'],
         ['Wayne', 'Bruce']]

    # Create an empty dictionary
    families = {}

    # Loop through each pair in the names list
    for last_name, first_name in names:
        # If the last name (key) is already in the dictionary, append the first name
        if last_name in families:
            families[last_name].append(first_name)
        # If the last name (key) is not in the dictionary, create a new entry with the first name in a list
        else:
            families[last_name] = [first_name]

    return families
    result = list_to_dict()
print(result)

{'Doyle': ['Adam', 'Oliver', 'Xavier'], 'Duck': ['Donald', 'Daisy'], 'Mouse': ['Mickey', 'Minnie', 'Mighty']}

In [25]:
#MY TESTCASE-2
def list_to_dict_test_case_indian():
    names = [
        ['Sharma', 'Amit'],
        ['Sharma', 'Aarti'],
        ['Patel', 'Rajesh'],
        ['Patel', 'Anita'],
        ['Gupta', 'Vikram'],
        ['Gupta', 'Neha'],
        ['Singh', 'Harpreet'],
        ['Singh', 'Gurpreet']
    ]

    # Create an empty dictionary
    families = {}

    # Loop through each pair in the names list
    for last_name, first_name in names:
        # If the last name (key) is already in the dictionary, append the first name
        if last_name in families:
            families[last_name].append(first_name)
        # If the last name (key) is not in the dictionary, create a new entry with the first name in a list
        else:
            families[last_name] = [first_name]

    return families

# Run the Indian names test case
print(list_to_dict_test_case_indian())

{'Sharma': ['Amit', 'Aarti'], 'Patel': ['Rajesh', 'Anita'], 'Gupta': ['Vikram', 'Neha'], 'Singh': ['Harpreet', 'Gurpreet']}

### 20.4 Join using a dictionary

We have a list of patients, diagnosis, and length of stay.  We also have a dictionary that contains diagnosis and average length of stay.  Produce an output list that lists the patient and an indicator if the patient's stay was 'too long', 'too short', 'just right'

In [26]:
def patient_los(avg_los, patients):

    conclusions = []
    # Put your solution here

    return conclusions

In [27]:
def patient_los(avg_los, patients):
    conclusions = []

    # Loop over each patient record in the patients list
    for patient in patients:
        name = patient[0]
        diagnosis = patient[1].strip()  # Removing any potential extra spaces
        los = patient[2]

        # Get the average length of stay for the diagnosis from the dictionary
        avg = avg_los.get(diagnosis)

        # Compare the patient's LOS to the average LOS
        if avg:
            if los < avg:
                conclusions.append([name, 'too short'])
            elif los > avg:
                conclusions.append([name, 'too long'])
            else:
                conclusions.append([name, 'just right'])

    return conclusions

In [28]:
avg_los = {
    "Hemolytic jaundice and perinatal jaundice" : 2,
    "Medical examination/evaluation" : 3.2,
    "Liveborn" : 3.2,
    "Trauma to perineum and vulva" : 2.1,
    "Normal pregnancy and/or delivery" : 2,
    "Umbilical cord complication" : 2.1,
    "Forceps delivery" : 2.2,
    "Administrative/social admission" : 4.2,
    "Prolonged pregnancy" : 2.4,
    "Other complications of pregnancy" : 2.5
}

patients = [
    ['Doyle', 'Medical examination/evaluation', 1.1],
    ['Doyle', 'Other complications of pregnancy', 3.3],
    ['Jones', 'Liveborn', 3.2],
    ['Ashbury', 'Forceps delivery', 2.0]
]

patient_los(avg_los, patients)

[['Doyle', 'too short'],
 ['Doyle', 'too long'],
 ['Jones', 'just right'],
 ['Ashbury', 'too short']]

In [29]:
conclusions = [['Doyle', 'too short'],
    ['Doyle', 'too long'],
    ['Jones', 'just right'],
    ['Ashbury', 'too short']]

assert(patient_los(avg_los, patients) == conclusions)

In [30]:
#MY TESTCASE-1
avg_los_test_case_1 = {
    "Hemolytic jaundice and perinatal jaundice": 2.0,
    "Medical examination/evaluation": 3.2,
    "Liveborn": 3.2,
    "Trauma to perineum and vulva": 2.1,
    "Normal pregnancy and/or delivery": 2.0,
    "Umbilical cord complication": 2.1,
    "Forceps delivery": 2.2,
    "Administrative/social admission": 4.2,
    "Prolonged pregnancy": 2.4,
    "Other complications of pregnancy": 2.5,
    "Heart failure": 5.0,
    "Respiratory distress": 4.5,
    "Kidney function disorder": 4.0
}
patients_test_case_1 = [
    ['Smith', 'Heart failure', 5.2],
    ['Smith', 'Kidney function disorder', 3.8],
    ['Taylor', 'Respiratory distress', 4.4],
    ['Taylor', 'Liveborn', 3.2],
    ['Johnson', 'Medical examination/evaluation', 3.0],
    ['Williams', 'Forceps delivery', 2.3]
]
print("Test Case 1:")
print(patient_los(avg_los_test_case_1, patients_test_case_1))

Test Case 1:
[['Smith', 'too long'], ['Smith', 'too short'], ['Taylor', 'too short'], ['Taylor', 'just right'], ['Johnson', 'too short'], ['Williams', 'too long']]

In [31]:
#MY TESTCASE-2
avg_los_test_case_2 = {
    "Hemolytic jaundice and perinatal jaundice": 2.0,
    "Medical examination/evaluation": 3.2,
    "Liveborn": 3.2,
    "Trauma to perineum and vulva": 2.1,
    "Normal pregnancy and/or delivery": 2.0,
    "Umbilical cord complication": 2.1,
    "Forceps delivery": 2.2,
    "Administrative/social admission": 4.2,
    "Prolonged pregnancy": 2.4,
    "Other complications of pregnancy": 2.5,
    "Heart failure": 5.0,
    "Respiratory distress": 4.5,
    "Kidney function disorder": 4.0
}
patients_test_case_2 = [
    ['Brown', 'Heart failure', 4.8],
    ['Brown', 'Respiratory distress', 4.6],
    ['Davis', 'Kidney function disorder', 4.2],
    ['Davis', 'Liveborn', 3.2],
    ['Miller', 'Normal pregnancy and/or delivery', 2.1],
    ['Wilson', 'Medical examination/evaluation', 3.4]
]
print("\nTest Case 2:")
print(patient_los(avg_los_test_case_2, patients_test_case_2))

Test Case 2:
[['Brown', 'too short'], ['Brown', 'too long'], ['Davis', 'too long'], ['Davis', 'just right'], ['Miller', 'too long'], ['Wilson', 'too long']]

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to save this notebook file back to GitHub.  To do that in Google Colab:
1. File -> Save a Copy in GitHub
2. Make sure your HDS5210 repository is selected
3. Make sure the file name includes the week number like this: `week04/week04_assignment_2.ipynb`
4. Add a commit message that means something

**Be sure week names are lowercase and use a two digit week number!!**

**Be sure you use the same file name provided by the instructor!!**